<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <form #registerForm="ngForm" (ngSubmit)="register()">
          <h2 class="text-center text-primary">Sign Up</h2>
          <hr>

          <div class="form-group">
            <input type="text" class="form-control" required name="username" [(ngModel)]="model.username" placeholder="Username">
          </div>

          <div class="form-group">
            <input type="password" class="form-control" required name="password" [(ngModel)]="model.password" placeholder="Password">
          </div>

          <div class="form-group text-center">
            <button class="btn btn-success mr-1" type="submit">Register</button>
            <button routerLink="/home" class="btn btn-default ml-1" type="button" (click)="cancel()">Cancel</button>
          </div>
        </form>
    </div>
  </div>
</div>
